* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    flex-wrap: nowrap;

}

.body{
    /* display: flex;
    flex-direction: column;
    text-align: center; */

    background: #fff;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
    border: 1px solid #092327; 
}

.body  #title, .menuDesp {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
    padding: 1%;
}

/* .formLogin, .formReg{
    color: #252525;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 30px;
    padding: 1%;
    border: 1px solid #092327; 

} */

.caja a, .bodySW{
    color: #fff;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    padding: 1% 15%;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #092327;
}
.caja{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1% 22%;
    border: 1px solid #092327;
    border-radius: .5rem;
}



.menuDesp{
    border-radius: .5rem;  
}

#volver, ul{
    text-decoration:none;
    list-style-type: none;
}

.bodySW #barraNav{
        background:rgba(228, 228, 228, 0.562); 
        height: 80px;
        width: 100%;    
}

#htmlIdMenu, ul{
    box-shadow: none;
    border: none;
    background: none;
}
.saldoTransferir,
.saldoExtraccion,
.muestraSaldo,
.actualizarSaldo, 
.classSaldoDeposito, 
.inputDeposito, 
.btnDeposito, 
.cbuTransferencia, 
.montoTransferencia, 
.motivoTransferencia, 
.btnTransferir, 
.ExtraerDinero, 
.confirmaPass, 
.btnExtraer,
.formLogin, 
.formReg,
.btnSALIR,
.menuDesp,
.oculto
{
    display: none;
}

.show{
    display: block;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

li {
    display: flex;
    flex-direction: column;
    padding: 2%;
}
 .formReg, .formLogin{
    text-align: center;
    padding: 1% 10%;
 }