* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #cb232c, #ce1d61);
}

.body .caja, #htmlIdMenu, ul {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
    border: 1px solid #092327;
}

.body .caja .title {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}


.body .caja a {
    color: #fff;
    border: 1px solid #092327;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

#volver, ul{
    text-decoration:none;
    list-style-type: none;

}

.bodySW #barraNav{
        background: #2fcdcd; 
        height: 80px;
        width: 100%;
}

#htmlIdMenu, ul{
    box-shadow: none;
    border: none;
    background: none;
    /* padding: 20%; */
    
}

.muestraSaldo, .actualizarSaldo, .classSaldoDeposito, .inputDeposito, .btnDeposito, .cbuTransferencia, .montoTransferencia, .motivoTransferencia, .btnTransferir, .ExtraerDinero, .confirmaPass, .btnExtraer {
    display: none;
}

.show{
    display: block;
}
#idVerSaldo, #idTransferir, #idExtraccion, #idDeposito{

}


ul {    padding: 3%;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
